name: Pull Request Workflow

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    # runs-on: blacksmith-4vcpu-ubuntu-2404
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: typegraphql-prisma
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    strategy:
      matrix:
        node-version: [20.x, 21.x, 22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: useblacksmith/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-${{ matrix.node-version }}
          restore-keys: |
            ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-${{ matrix.node-version }}

      - name: Setup project
        run: |
          npm ci --no-fund --no-audit --no-update-notifier --include=dev --include=optional

      - name: Check codebase
        run: |
          npm run check:format
          npm run check:type

      - name: Run tests
        run: |
          npm run test:ci
        env:
          CI: true
          TEST_DATABASE_URL: postgresql://user:password@localhost:5432/typegraphql-prisma
